<footer class="footer">
  <div class="footer-content">

    <a href="https://www.instagram.com/skincare_by_maissa?igsh=bGh2eWkxZzgzb3pt"
       target="_blank"
       class="footer-link">
      📸 Instagram
    </a>

    <span class="separator">|</span>

    <a href="tel:+96170123456" class="footer-link">
      📞 +961 76 846 018
    </a>

    <span class="separator">|</span>

    <a href="mailto:contact@example.com" class="footer-link">
      ✉️ contact&#64;example.com
    </a>

  </div>

  <div class="footer-copy">
    © 2026 Velvet Skin Clinic
  </div>
</footer>
