<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid p-4">
    <!-- Center logo (always centered) -->
    <a class="navbar-brand mx-auto d-flex align-items-center position-absolute start-50 translate-middle-x"
       routerLink="/login">
      <img src="assets/images/logo.png" width="40" height="40" class="me-2">

      <!-- Hidden on mobile, visible from lg and up -->
      <span class="brand-name d-none d-sm-inline me-2 ">
        Velvet Skin Clinic
      </span>
      <img src="assets/images/logo.png" width="40" height="40" class="me-2 d-none d-sm-inline">

    </a>

    <!-- Collapsible content -->
    
  </div>
</nav>
