
:root {
  --primary-color: #851e1f;
  --primary-hover: #6b1819;
  --success-color: #218838;
  --danger-color: #dc3545;
  --secondary-color: #f9f9f9;
  --border-color: #e0e0e0;
  --text-primary: #333;
  --text-secondary: #666;
  --third-color: #28323d;
  --third-color-hover: #575c61;
  --delete-color: #b51d2c;
  --delete-hover: #cc3f4d;
}  
.pnt {
  cursor: pointer;
}


.torignt {
  direction: rtl;
  text-align: right;
}
app-header {
  position: fixed; /* Fix at top */
  top: 0; /* Stick to top */
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* On top of everything */
}
main.pvcontent {
  margin-top: 70px; /* Adjust this to your header height */
}
app-public-header {
  position: fixed; /* Fix at top */
  top: 0; /* Stick to top */
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* On top of everything */
}
