.brand-name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}

.navbar .nav-link {
  color: #fff !important;
  margin-right: 1rem;
}

  .navbar .nav-link:hover {
    color: #ffd700 !important;  
  }

.navbar-text {

  color: #fff;
}

.navbar {
  background-color: var(--primary-color);
}


